<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin.css">
    <!-- Boxicons CDN link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <!-- <i class='bx bx-bold'></i> -->
                <div class="logo_name">Betrunken</div>
            </div>
            <i class='bx bxs-chevrons-left' id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="/admin.hbs">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Usuario</span>
                </a>
                <span class="tooltip">Usuario</span>
            </li>
            <li>
                <a href="/admin-chofer">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Conductores</span>
                </a>
                <span class="tooltip">Conductores</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Archivos</span>
                </a>
                <span class="tooltip">Archivos</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Configuración</span>
                </a>
                <span class="tooltip">Configuración</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">DashBoard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="/img/carlos.jpg" alt="">
                    <div class="name_job">
                        <div class="name">Carlos Ramirez</div>
                        <div class="job">Back-End</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </div>
        </div>
    </div>
    <div class="home_content">
        <div class="col-12">
            <h1>Datos Chofer</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre comppleto</th>
                        <th>Rut</th>
                        <th>Patente</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each chofers}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{rut}}</td>
                        <td>{{patente}}</td>
                        <td>{{marca}}</td>
                        <td>{{modelo}}</td>
                        <td>{{fecha}}</td>
                        <td>
                            <a href="/chofer/edit/{{_id}}">Editar</a>
                            <a href="/chofer/eliminar/{{_id}}">Eliminar</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <script src="/js/admin.js"></script>
</body>

</html>